.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #333;
  height: 26px;
  padding: 10px;
  color: white;
}

div.App-header p {
  margin: 0;
  font-size: large;
  font-weight: bold;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.gd-metric {
  #width: 160px;
  #height: 100px;
  border-radius: 2px;
  background-image: linear-gradient(72deg, rgb(71, 186, 245), rgb(12, 154, 224));
  padding: 10px;
  margin: 10px;
  display: block;
  float: left;
  color: white;
}

.gd-metric-name {
  font-size: small;
  text-transform: uppercase;
  font-weight: 100;
  margin: 0px;
}

.gd-metric-value {
  font-size: xx-large;
  font-weight: 600;
  margin-bottom: 3px;
  margin-top: 6px;
}

.gd-viz {
  clear: left;
  display: block;
  float: left;
}

div.gd-table {
  clear: left;
  display: block;
  float: left;
}

.gd-table tbody {
  border: solid;
  border-width: 1px;
  border-color: #999999;
  border-radius: 2px;
  padding: 0px;
  margin: 10px;
  background: #fafafa;
  font-size: small;

}

.gd-table td {
  padding: 6px 10px;
}

.gd-table tr:nth-child(odd) {
  background: #ebebeb;
}

